{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<main>
    <div class="album py-5 bg-body-tertiary">
        <div class="container ">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for user in users %}
                    <div class="col">
                    <div class="card shadow-sm h-100">
                        <img src="{{user.last_photo.image.url}}" class="card-img-top" alt="..." style="width: 100%; height: 15vw; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{user.username}}'s photos.</h5>
                            <p class="card-text">Number of Photos: {{ user.photos.count }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-body-secondary">Last upload: {{ user.last_photo.uploaded_at|naturaltime }}</small>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" href="{{ user.get_absolute_url }}" role="button">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}