{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" style="overflow-y: scroll">
<head>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>
        {% block title %}
        Cloud Gallery
        {% endblock %}
    </title>
</head>

<body class="d-flex flex-column min-vh-100">

{% block header %}
<header class="p-3 text-bg-dark navbar-dark bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="{% url 'user-list' %}">CloudGallery</a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ request.user.get_absolute_url }}" class="nav-link px-2 text-white">My Gallery</a></li>
                <li><a href="{% url 'photos:upload' %}" class="nav-link px-2 text-white">Upload new photo</a></li>
            </ul>
            <div class="text-end">
                <form class="d-flex" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-light" type="submit">Sign-out</button>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<main class="flex-fill">
    {% block content %}

    {% endblock %}
</main>

{% block footer %}
<footer class="text-body-secondary py-5 mt-auto">
    <div class="container">
        <p class="float-end mb-1"><a href="#">Back to top</a></p>
        <p class="mb-1">Cloud Gallery is an educational project for learning AWS. </p>
    </div>
</footer>
{% endblock %}
</body>
</html>